/** especificidad (0,0,1) **/
body {
  color: black;
  background-color: burlywood;
}
/** especificidad (0,0,1) **/
h1 {
  color: black;
  background-color: burlywood;
}
label {
  color: transparent;
  background-color: white;
}
/** especificidad (0,0,1) **/
form {
  display: grid;
  grid-template-columns: 4em 4em 4em 4em;
  column-gap: 1em;
  row-gap: 1em;
  color: transparent;
  background-color: #2b2b2b;
  padding: 2em;
  border-radius: 1em;
  max-width: fit-content;
}
/** especificidad (0,1,1) **/
input[type="text"] {
  grid-column-start: 1;
  grid-column-end: 5;
  color: white;
  background-color: darkseagreen;
  padding: 1em;
}

/** especificidad (0,1,1) **/
input[type="button"] {
  color: black;
  background-color: #E0E0E0;
  padding: 1em;
  border-radius: 1em;
  font-weight: bold;
}

/** especificidad (0,2,1) **/
input[type="button"]:nth-child(4n + 2) {
  color: black;
  background-color: #ff6666;
  font-weight: bold;
}
/** especificidad (0,3,1) **/
input[type="button"]:nth-child(4n + 2)[value="="] {
  background-color: #BABABA;
  color: black;
}
/** especificidad (0,1,1) **/
input[value="mrc"],
input[value="m+"],
input[value="m-"] {
  background-color: #959595;
  color: black;
}
input[type="submit"] {
  background: transparent;
  color: white;
  border: none !important;
  font-size: 0;
}
