/** especificidad (0,0,1) **/
form {
  display: grid;
  grid-template-columns: 4em 4em 4em 4em 4em;
  padding: 2em;
  row-gap: 0.1em;
  column-gap: 0.1em;
}
label {
  visibility: hidden;
}
input {
  border: none;
}
/** especificidad (0,1,1) **/
input[type="text"] {
  grid-column-start: 1;
  grid-column-end: 6;
  background-color: darkgrey;
  color: black;
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
  text-align: right;
}
/** especificidad (0,1,1) **/
button {
  color: black;
  background-color: darkgray;
  padding: 1em;
  border: none;
}
/** especificidad (0,1,1) **/
input[type="button"] {
  color: black;
  background-color: #e0e0e0;
  padding: 1em;
}
/** especificidad (0,3,1) **/
input[type="button"]:nth-child(-n + 12) {
  background-color: darkgrey;
  color: black;
}

/** especificidad (0,1,1) **/
input[value="0"],
input[value="1"],
input[value="2"],
input[value="3"],
input[value="4"],
input[value="5"],
input[value="6"],
input[value="7"],
input[value="8"],
input[value="9"],
input[value=","] {
  background-color: #ebebeb;
  color: black;
  font-size: 1em;
  font-weight: bold;
}
/** especificidad (0,1,1) **/
input[type="submit"] {
  border: none !important;
  visibility: hidden;
}
