/*Especificidad: 001 */
main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

/*Especificidad: 003 */
h1 {
  color: #fff;
  background-color: #0a5a71;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
}

/*Especificidad: 001 */
p {
  color: black;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

