/** Especificidad 001 */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /** Especificidad 001 */
  section {
      text-align: center;
      padding: 1em;
  }
  
  /** Especificidad 001 */
  #map {
    height: 50em;
    width: auto;
  }

  .distance-container {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    }
     
    .distance-container > * {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 11px;
    line-height: 18px;
    display: block;
    margin: 0;
    padding: 5px 10px;
    border-radius: 3px;
    }