/*Especificidad: 001 */
main {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
/*Especificidad: 001 */
section {
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  background-color: #a02818;
  color: #fff;
}
/*Especificidad: 001 */
form {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

/*Especificidad: 003 */
h1,
h2,
h3,
h4 {
  color: #fff;
  background-color: #0a5a71;
  text-transform: uppercase;
  text-align: center;
  padding: 1em;
}
/*Especificidad: 001 */
p {
  color: #fff;
  background-color: #0a5a71;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}
/** especificidad (0,1,1) **/
input[type="submit"] {
  background: transparent;
  color: white;
  border: none !important;
}
