/* Especificidad 001*/
body {
  background-color: white;
  color: black;
}
/* Especificidad 001*/
h1 {
  /*text-align:center;*/
  color: red;
  background-color: white;
}
/* Especificidad 001*/
h2 {
  color: blue;
  background-color: white;
}
/* Especificidad 001*/
p {
  color: green;
  background-color: white;
}
